.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 220px;
    padding-top: 160px;
    img{
        width: 900px;
        height:500px ;
    }
}