.testimonios{
    height: 932px;
    background-color: #514FD5;
    div{
        padding-top: 80px;
        h2{
            color: white;
            font-size: 60px;
            text-align: center;


        }
        div{
            display: flex;
            justify-content: center;
            padding: 0px;
            img{
                text-align: center;
                width: 82%;
                position: relative;
                right: 140px;
                bottom: 50px ;            }
        }

    }
}